body {
  font-family: 'Inter', sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    'nav nav nav nav'
    'sidebar main main main '
    'sidebar container1 container2 container3'
    'sidebar footer footer footer';
  grid-gap: 0.2rem;
  font-size: 0.8rem;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}

nav {
  background: #84ffff;
  grid-area: nav;
}

main {
  background: #85ff8f;
  grid-area: main;
}

#sidebar {
  background: #5e82e4;
  grid-area: sidebar;
}

#container1 {
  background: #f5f379;
  grid-area: container1;
}

#container2 {
  background: #f5c07a;
  grid-area: container2;
}

#container3 {
  background: #f07a6a;
  grid-area: container3;
}

footer {
  background: #a66af5;
  grid-area: footer;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      'nav'
      'sidebar'
      'main'
      'container1'
      'container2'
      'container3'
      'footer';
  }
}
