#line3 {
  display: flex;
  flex-wrap: wrap;
}

#line3 img {
  width: 30%;
  margin: 1.6%;
}

#line4 {
  display: flex;
  flex-wrap: wrap;
}

#line4 img {
  width: 20%;
  margin: 2.5%;
}
#line5 {
  display: flex;
  flex-wrap: wrap;
}

#line5 img {
  width: 18%;
  margin: 1%;
}

P {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 3px solid #6865f3;
  width: 30%;
  padding-bottom: 12px;
  margin: 1.6%;
}
